<app-info-card class="dashboard-ddv-card__info-card">
  <ng-container ngProjectAs="[card-title]">
    Digital Data Value
  </ng-container>

  <ng-container
    ngProjectAs="[card-body]"
    *ngIf="ddv; else loading"
  >
    <div
      class="dashboard-ddv-card__value"
      appTypeface="header-3"
    >
      {{ ddv | numberFormat : '1.0-3' : true }}
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="dashboard-ddv-card__loading">
      <ngx-skeleton-loader
        [theme]="{
          height: '54px',
          marginTop: '25px',
          marginBottom: '0',
          width: '220px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </ng-template>
</app-info-card>
