@import 'variables';

:host {
  display: block;
}

.set-public-details__owner-label {
  color: $color-grey;
  font-weight: 500;
}

.set-public-details__owner-value {
  word-wrap: break-word;
}

.set-public-details__bio {
  margin-top: $grid-step;
}

.set-public-details__divider {
  background-color: $color-outlines;
  height: 2px;
  margin: $grid-step * 3 0 $grid-step * 2;
}
