<app-data-table [data]="data" [trackBy]="trackByHash">
  <a
    *dataTableColumnDef="let item; name: 'Height'"
    [routerLink]="['/', blocksRoute, item.block.header.height]"
  >
    {{ item.block.header.height }}
  </a>

  <span
    [attr.title]="item.block_id.hash"
    *dataTableColumnDef="let item; name: 'Hash'"
  >
    {{ item.block_id.hash | truncate : 28 }}
  </span>

  <ng-container *dataTableColumnDef="let item; name: 'Time'">
    {{ item.block.header.time | dateAgo }}
  </ng-container>
</app-data-table>
