<app-data-table
  [data]="data"
  [trackBy]="trackByAddress"
>
  <a
    *dataTableColumnDef="let item; name: 'Validator'"
    [routerLink]="['/', validatorRoute, item.operator_address]"
  >
    {{ item.description.moniker }}
  </a>

  <app-validator-status
    *dataTableColumnDef="let item; name: 'Status'"
    [status]="item.status"
    class="validators-table__validator-status"
  ></app-validator-status>

  <ng-container *dataTableColumnDef="let item; name: 'Commission'">
    {{ item.commission.commission_rates.rate | percent }}
  </ng-container>
</app-data-table>
