@import 'variables';

:host {
  display: block;
}

.validators-table__validator-status {
  display: flex;
}

.validators-table__voting-power-percent {
  color: $color-grey;
}

.validators-table__voting-power-percent-loading {
  display: flex;
}
