<app-data-table
  [data]="data"
  [trackBy]="trackByAddress"
>
  <div
    *dataTableColumnDef="let item; name: 'Validator'"
    class="validators-table__validator"
  >
    <a [routerLink]="['/', validatorRoute, item.operator_address]">
      {{ item.description.moniker }}
    </a>

    <app-validator-jailed
      *ngIf="item.jailed"
      class="validators-table__validator-jailed"
    >
      jailed
    </app-validator-jailed>
  </div>

  <ng-container *dataTableColumnDef="let item; name: 'Voting power'">
    {{ item.tokens / 1000000 | numberFormat : '1.0-0' : true }}

    <div
      *ngIf="pool; else votingPowerPercentLoading"
      class="validators-table__voting-power-percent"
      appTypeface="caption"
    >
      {{ item.tokens / pool.bonded_tokens | percent : '1.0-2' }}
    </div>
  </ng-container>

  <app-validator-status
    *dataTableColumnDef="let item; name: 'Status'"
    [status]="item.status"
    class="validators-table__validator-status"
  ></app-validator-status>

  <ng-container *dataTableColumnDef="let item; name: 'Commission'">
    {{ item.commission.commission_rates.rate | percent }}
  </ng-container>
</app-data-table>

<ng-template #votingPowerPercentLoading>
  <ngx-skeleton-loader
    class="validators-table__voting-power-percent-loading"
    [theme]="{
      height: '16px',
      margin: '0',
      width: '35px'
    }"
  ></ngx-skeleton-loader>
</ng-template>
