@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-layout__header {
  position: sticky;
  top: 0;
}

.main-layout__content {
  height: 100%;
  overflow: auto;
  padding-bottom: $grid-step * 2;
  padding-top: $grid-step * 2;
}

@media (max-width: $screen-mobile) {
  :host {
    height: auto;
  }

  .main-layout__content {
    overflow: initial;
  }
}
