@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-layout__content-container {
  flex: 1 0 auto;
  padding: $grid-step * 2 0;
}

.main-layout__footer {
  flex: 0 0 auto;
}
