<app-info-card [border]="(isMobile$ | async) === false">
  <ng-container ngProjectAs="[card-title]">
    Transactions
  </ng-container>

  <app-transactions-table
    class="transactions__table"
    ngProjectAs="[card-body]"
    *ngIf="transactions$ | async as transactions; else tablesLoading;"
    [data]="transactions"
  ></app-transactions-table>
</app-info-card>

<ng-template #tablesLoading>
  <ngx-skeleton-loader
    class="transactions__table--loading"
    count="15"
    [theme]="{
      height: '40px',
      width: '100%'
    }"
  ></ngx-skeleton-loader>
</ng-template>
