@import 'mixins';
@import 'variables';

* {
  //outline: 1px solid red;
}

:root {
  --tui-font-text: $main-font-family !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: $main-font-family;
  font-size: $main-font-size;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  color: $color-font-base;
}

svg-icon {
  display: inline-flex;
}
