@import 'variables';

:host {
  display: flex;

  &.mod-bonded {
    color: $color-positive;
  }

  &.mod-unbonded {
    color: $color-light-grey;
  }

  &.mod-unbonding {
    color: $color-grey;
  }

  .validator-status__icon {
    align-self: center;
    display: flex;
    height: 24px;
    margin-right: $grid-step;
    width: 24px;
  }
}
