<p><b>Message type:</b> {{ txMessage.type }}</p>
<ng-container [ngSwitch]="txMessage.type">
  <ng-container *ngSwitchCase="messageTypes.DistributeRewards">
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
    <p><b>Receiver:</b> {{txMessage.value.rewards[0].receiver}}</p>
    <p><b>Reward:</b> {{txMessage.value.rewards[0].reward}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.SetPrivate">
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.SetPublic">
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
    <p><b>First name:</b> {{txMessage.value.public.firstName}}</p>
    <p><b>Last name:</b> {{txMessage.value.public.lastName}}</p>
    <p><b>Birthday:</b> {{txMessage.value.public.birthday}}</p>
    <p><b>Gender:</b> {{txMessage.value.public.gender}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.MsgSend">
    <p><b>From address:</b> {{txMessage.value.from_address}}</p>
    <p><b>To address:</b> {{txMessage.value.to_address}}</p>
    <p><b>Amount:</b> {{txMessage.value.amount[0].amount}} {{txMessage.value.amount[0].denom}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.SetLike">
    <p><b>Post owner:</b> {{txMessage.value.postOwner}}</p>
    <p><b>Post UUID:</b> {{txMessage.value.postUuid}}</p>
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
    <p><b>Weight:</b> {{txMessage.value.weight}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.MsgUnfollow">
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
    <p><b>Whom:</b> {{txMessage.value.whom}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.MsgFollow">
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
    <p><b>Whom:</b> {{txMessage.value.whom}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.CreatePost">
    <p><b>UUID:</b> {{txMessage.value.uuid}}</p>
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
    <p><b>Title:</b> {{txMessage.value.title}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="messageTypes.DeletePost">
    <p><b>Post owner:</b> {{txMessage.value.postOwner}}</p>
    <p><b>Post UUID:</b> {{txMessage.value.postUUID}}</p>
    <p><b>Owner:</b> {{txMessage.value.owner}}</p>
  </ng-container>
</ng-container>

