@import 'variables';

.registered-users-stats__stat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registered-users-stats__stat-info-name-margin {
  font-weight: 500;
}

.registered-users-stats__stat-info-margin-label {
  margin-left: $grid-step;
}

.registered-users-stats__stat-value {
  font-weight: 500;
}

.registered-users-stats__chart {
}
