<div class="header__container container">
  <div class="header__section">
    <ng-container *appBreakpoint="'mobile'; revert: true; else headerSectionMobile">
      <ng-template [ngTemplateOutlet]="logo"></ng-template>

      <app-header-navigation
        class="header__navigation"
      ></app-header-navigation>
    </ng-container>

    <ng-template #headerSectionMobile>
      <ng-template [ngIf]="!isMobileSearchOpened" [ngIfElse]="headerSearch">
        <ng-template [ngTemplateOutlet]="logo"></ng-template>
      </ng-template>
    </ng-template>
  </div>

  <div class="header__section">
    <div class="header__mobile-actions" *appBreakpoint="'mobile'; else headerSearch">
      <ng-template [ngIf]="!isMobileSearchOpened" [ngIfElse]="mobileSearchClose">
        <svg-icon
          class="header__mobile-actions__icon"
          key="search"
          size="lg"
          (click)="openMobileSearch()"
        ></svg-icon>

        <div class="header__mobile-actions__divider"></div>

        <svg-icon
          class="header__mobile-actions__icon"
          [key]="isMobileMenuOpen ? 'close' : 'menu'"
          size="lg"
          (click)="toggleMenu()"
        ></svg-icon>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #logo>
  <svg-icon
    class="header__logo"
    key="logo"
    [routerLink]="['/']"
  ></svg-icon>
</ng-template>

<ng-template #mobileSearchClose>
  <svg-icon
    class="header__mobile-actions__icon"
    key="close"
    size="lg"
    (click)="closeMobileSearch()"
  ></svg-icon>
</ng-template>

<ng-template #headerSearch>
  <app-header-search class="header__search"></app-header-search>
</ng-template>

<ng-template [ngIf]="isMobileMenuOpen">
  <app-header-mobile-menu-dropdown
    *appDropdown="elementRef.nativeElement; backdropClass: 'header-mobile-menu-dropdown__overlay-backdrop'"
  ></app-header-mobile-menu-dropdown>
</ng-template>
