:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px ;
}

.tabs {
  box-shadow: none;
}

.header__logo {
  align-items: center;
  display: flex;
  height: 40px;
  width: 40px;
}
