<app-data-table [data]="data" [trackBy]="trackByHash">
  <a
    *dataTableColumnDef="let item; name: 'Hash'"
    [routerLink]="['/', appRoute.Transactions, item.hash]"
    class="transactions-table__tx"
  >
    <span [attr.title]="item.hash">
      <ng-container *appBreakpoint="breakpoint.Desktop; revert true; else tabletHash">
        {{ item.hash | truncate : hashSize[breakpoint.Desktop] }}
      </ng-container>

      <ng-template #tabletHash>
        <ng-container *appBreakpoint="breakpoint.Tablet; revert true; else mobileHash">
          {{ item.hash | truncate : hashSize[breakpoint.Tablet] }}
        </ng-container>
      </ng-template>

      <ng-template #mobileHash>
        {{ item.hash | truncate : hashSize[breakpoint.Mobile] }}
      </ng-template>
    </span>

    <svg-icon
      *ngIf="item.code"
      [class.mod-failed]="item.code"
      class="transactions-table__tx-failed-icon"
      key="warning"
      size="lg"
      appTooltip="Transaction is failed"
    ></svg-icon>
  </a>

  <ng-container
    *dataTableColumnDef="let item; name: 'Type'"
  >
    <app-transaction-message-type-icon
      *appBreakpoint="shrinkBreakpoint"
      [messageType]="item.messageType"
      [appTooltip]="item.messageType | txMessageTypeLabel"
      class="transactions-table__type-icon"
    ></app-transaction-message-type-icon>

    <ng-container *appBreakpoint="shrinkBreakpoint; revert true"
    >
      <app-transaction-message-type-icon
        [messageType]="item.messageType"
      ></app-transaction-message-type-icon>

      <span class="transactions-table__type-label">
        {{ item.messageType | txMessageTypeLabel }}
      </span>
    </ng-container>

  </ng-container>

  <a
    *dataTableColumnDef="let item; name: 'Height'"
    [routerLink]="['/', appRoute.Blocks, item.height]"
  >
    {{ item.height | numberFormat : null : true }}
  </a>

  <ng-container *dataTableColumnDef="let item; name: 'Time'">
    {{ item.timestamp | dateAgo }}
  </ng-container>
</app-data-table>
