@import 'variables';

:host {
  .table {
    width: 100%;
  }

  .tui-table {
    margin-left: -$grid-step * 2;
    margin-right: -$grid-step * 2;
  }

  .tui-table__th {
    color: $color-grey;
    border-bottom: 2px solid $color-outlines;
    height: unset;
    padding: $grid-step $grid-step * 2 $grid-step / 2;
  }
}
