@use 'sass:math';
@import 'variables';

:host {
  display: block;
}

.transactions-table__tx {
  align-items: center;
  display: inline-flex;
}

.transactions-table__tx-failed-icon {
  margin-left: math.div($grid-step, 2);
}

.transactions-table__type-icon {
  &:hover {
    color: $color-dark-grey;
  }
}

.transactions-table__type-label {
  display: inline-block;
  margin-left: $grid-step;
}

.mod-failed {
  color: $color-red;

  &:hover {
    color: $color-red;
  }
}
