<app-data-table [data]="data" [trackBy]="trackByHash">
  <a
    *dataTableColumnDef="let item; name: 'Hash'"
    [attr.title]="item.txhash"
    [routerLink]="['/', appRoute.Transactions, item.txhash]"
  >
    {{ item.txhash | truncate : 10 }}
  </a>

  <ng-container
    *dataTableColumnDef="let item; name: 'Type'"
  >
    <app-transaction-message-type-icon
      [messageType]="item.tx.value.msg[0].type"
    ></app-transaction-message-type-icon>

    <span class="transactions-table__type-label">{{ item.tx.value.msg[0].type | txMessageTypeLabel }}</span>
  </ng-container>

  <a
    *dataTableColumnDef="let item; name: 'Height'"
    [routerLink]="['/', appRoute.Blocks, item.height]"
  >
    {{ item.height | numberFormat : null : true }}
  </a>

  <ng-container *dataTableColumnDef="let item; name: 'Time'">
    {{ item.timestamp | dateAgo }}
  </ng-container>
</app-data-table>
