<ng-container *ngFor="let reward of rewards; let last = last">
  <div
    class="distribute-rewards-details__amount"
    appTypeface="header-3"
  >
    {{ reward.amount | numberFormat : null : true }} uPDV
  </div>

  <app-transfer-details>
    <ng-template [appTransferDetailsFrom]="'Owner'">
      {{ reward.owner }}
    </ng-template>

    <ng-template [appTransferDetailsTo]="'Receiver'">
      {{ reward.receiver }}
    </ng-template>
  </app-transfer-details>

  <div
    class="distribute-rewards-details__divider"
    *ngIf="!last"
  ></div>
</ng-container>
