<div class="dashboard__statistics">
  <app-currency-stats
    class="dashboard__currency-stats"
    [coinRate]="coinRate$ | async"
    [coinStats]="coinStats$ | async"
  ></app-currency-stats>

  <app-registered-users-stats
    class="dashboard__currency-stats"
    [registeredUsersStats]="registeredUsersStats$ | async"
  ></app-registered-users-stats>
</div>

<div class="dashboard__cards">
  <div class="dashboard__statistics-cards dashboard__statistics-cards-first">
    <app-dashboard-adv-card [adv]="(advDdvStats$ | async)?.adv"></app-dashboard-adv-card>

    <app-dashboard-ddv-card [ddv]="(advDdvStats$ | async)?.ddv"></app-dashboard-ddv-card>

    <app-dashboard-inflation-card [inflation]="inflation$ | async"></app-dashboard-inflation-card>
  </div>

  <div class="dashboard__statistics-cards dashboard__statistics-cards-second">
    <app-dashboard-bonded-tokens-card [pool]="pool$ | async" [supply]="supply$ | async"></app-dashboard-bonded-tokens-card>

    <app-dashboard-height-card [latestBlockHeader]="(latestBlock$ | async)?.block.header"></app-dashboard-height-card>
  </div>
</div>

<div class="dashboard__tables">
  <app-info-card>
    <ng-container ngProjectAs="[card-title]">
      Blocks
    </ng-container>

    <ng-container ngProjectAs="[card-show-more]">
      <a
        appTypeface="paragraph"
        class="dashboard__tables-show-more"
        [routerLink]="['/', appRoute.Blocks]"
      >
        Show more
        <svg-icon class="dashboard__tables-show-more-icon" key="expand-right"></svg-icon>
      </a>
    </ng-container>

    <app-blocks-table
      class="dashboard__blocks-table"
      ngProjectAs="[card-body]"
      *ngIf="blocks$ | async as blocks; else tablesLoading;"
      [data]="blocks"
      [hashSize]="blocksHashSize"
    ></app-blocks-table>
  </app-info-card>

<!--  <app-info-card>-->
<!--    <ng-container ngProjectAs="[card-title]">-->
<!--      Transactions-->
<!--    </ng-container>-->

<!--    <ng-container ngProjectAs="[card-show-more]">-->
<!--      <a-->
<!--        appTypeface="paragraph"-->
<!--        class="dashboard__tables-show-more"-->
<!--        [routerLink]="['/', appRoute.Transactions]"-->
<!--      >-->
<!--        Show more-->
<!--        <svg-icon class="dashboard__tables-show-more-icon" key="expand-right"></svg-icon>-->
<!--      </a>-->
<!--    </ng-container>-->

<!--    <app-transactions-table-->
<!--      class="dashboard__transactions-table"-->
<!--      ngProjectAs="[card-body]"-->
<!--      *ngIf="transactions$ | async as transactions; else tablesLoading;"-->
<!--      [data]="transactions"-->
<!--      [hashSize]="transactionsHashSize"-->
<!--      [shrinkBreakpoint]="breakpoint.Desktop"-->
<!--    ></app-transactions-table>-->
<!--  </app-info-card>-->
</div>

<ng-template #tablesLoading>
  <ngx-skeleton-loader
    class="dashboard__statistics-tables--loading"
    count="4"
    [theme]="{
      height: '40px',
      width: '100%'
    }"
  ></ngx-skeleton-loader>
</ng-template>
