<div class="footer__container container">
  <a
    class="footer__logo"
    href="https://decentr.net"
    target="_blank"
  >
    <img
      class="footer__logo-icon"
      src="../../../assets/img/logo-blue.svg"
    >

    <span appTypeface="paragraph">Decentr</span>
  </a>

  <p class="footer__copyright" appTypeface="caption">
    <span>&copy; Copyright {{ currentYear }} Decentr </span>
    <span>All Rights Reserved</span>
  </p>

  <div class="footer__social-links">
    <a
      *ngFor="let socialLink of socialLinks"
      class="social__link"
      [href]="socialLink.url"
      target="_blank"
      [title]="socialLink.title"
    >
      <svg-icon
        [key]="socialLink.iconKey"
        size="lg"
      ></svg-icon>
    </a>
  </div>
</div>
