@import 'variables';

:host {
  background-color: $color-black;
  display: flex;
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: $grid-step * 1.5 auto;
}

.footer__logo {
  align-items: center;
  color: $color-white;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
}

.footer__logo-icon {
  margin-right: $grid-step;
}

.footer__social-links {
  display: flex;
}

.social__link {
  color: $color-grey;
  display: inline-flex;
  transition: all 0.3s ease;

  & + & {
    margin-left: $grid-step * 3;
  }

  &:hover {
    color: $color-white;
  }
}

.footer__copyright {
  color: $color-grey;
  text-align: center;
}

@media (max-width: $screen-mobile) {
  .footer__container {
    flex-direction: column;
    margin: $grid-step * 3 auto;
  }

  .footer__social-links {
    order: 1;
  }

  .footer__logo {
    order: 2;
    margin-top: $grid-step * 4;
  }

  .footer__copyright {
    display: inline-flex;
    flex-direction: column;
    margin-top: $grid-step * 1.5;
    order: 3;
  }
}
