<app-info-card class="dashboard-height-card__info-card">
  <ng-container ngProjectAs="[card-title]">
    Height
  </ng-container>

  <ng-container
    ngProjectAs="[card-body]"
    *ngIf="latestBlockHeader; else loading"
  >
    <div
      class="dashboard-height-card__height"
      appTypeface="header-3"
    >
      {{ +latestBlockHeader.height }}
    </div>

    <div
      class="dashboard-height-card__time"
      appTypeface="paragraph"
    >
      <svg-icon
        class="dashboard-height-card__time-icon"
        key="clock"
      ></svg-icon>

      {{ latestBlockHeader.time | dateAgo }}
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="dashboard-height-card__loading">
      <ngx-skeleton-loader
        [theme]="{
          height: '54px',
          marginTop: '25px',
          marginBottom: '0',
          width: '220px'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [theme]="{
          height: '16px',
          marginTop: '15px',
          marginBottom: '0',
          width: '100px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </ng-template>
</app-info-card>
