<app-info-card class="dashboard-bonded-tokens-card__info-card">
  <ng-container ngProjectAs="[card-title]">
    Bonded Tokens
  </ng-container>

  <ng-container
    *ngIf="pool; else loading"
    ngProjectAs="[card-body]"
  >
    <div
      class="dashboard-bonded-tokens-card__percent"
      appTypeface="header-3"
    >
      {{ getPoolTokenPercent | number :'1.2-5' }}%
    </div>

    <div
      class="dashboard-bonded-tokens-card__ratio"
      title="{{ pool.not_bonded_tokens }} / {{ pool.bonded_tokens }}"
    >
      <app-progress-bar [percent]="getPoolTokenPercent"></app-progress-bar>
      <div appTypeface="paragraph">
        {{ pool.not_bonded_tokens | numberSuffix }} / {{ pool.bonded_tokens | numberSuffix }}
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="dashboard-bonded-tokens-card__loading">
      <ngx-skeleton-loader
        [theme]="{
          height: '54px',
          marginTop: '25px',
          marginBottom: '0',
          width: '220px'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [theme]="{
          height: '16px',
          marginTop: '15px',
          marginBottom: '0',
          width: '100px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </ng-template>
</app-info-card>
