<app-info-card [removeBorderBreakpoint]="breakpoint.Mobile">
  <ng-container ngProjectAs="[card-title]">
    Validators
  </ng-container>

  <app-validators-table
    class="validators-page__table"
    ngProjectAs="[card-body]"
    *ngIf="validators$ | async as validators; else tablesLoading;"
    [data]="validators"
    [pool]="pool$ | async"
  ></app-validators-table>
</app-info-card>

<ng-template #tablesLoading>
  <ngx-skeleton-loader
    class="validators-page__loading"
    count="10"
    [theme]="{
      height: '40px',
      width: '100%'
    }"
  ></ngx-skeleton-loader>
</ng-template>
