@import 'variables';

:host {
  display: block;
}

.transaction-details__title {
  margin: 0 $grid-step * 2;
}

.transaction-details__loading {
  width: 100%;
}

.transaction-details__hash {
  margin-bottom: $grid-step * 3;
  word-break: break-word;
}

.transaction-details__page-link {
  display: block;
  margin-top: $grid-step;
}

.transaction-details__details-table {
  margin: $grid-step * 2 0;
}

.transaction-details__block-link {
  color: $color-primary;
  font-size: inherit;

  &:hover {
    color: $color-primary-hover;
  }
}

.transaction-details__message {
  margin-top: $grid-step * 2;

  &:nth-child(n-1) {
    margin-bottom: $grid-step * 2;
  }
}

.transaction-details__divider {
  background-color: $color-outlines;
  height: 2px;

  &.mod-wide {
    height: 8px;
    margin: 0 (-$grid-step * 2);
  }
}
