<ng-container [ngSwitch]="message.typeUrl">
  <app-mint-details
    *ngSwitchCase="messageType.OperationsMint"
    [details]="message.value"
  ></app-mint-details>

  <app-distribute-rewards-details
    *ngSwitchCase="messageType.OperationsDistributeRewards"
    [details]="message.value"
  ></app-distribute-rewards-details>

  <app-reset-account-details
    *ngSwitchCase="messageType.OperationsResetAccount"
    [details]="message.value"
  ></app-reset-account-details>

  <app-send-details
    *ngSwitchCase="messageType.BankSend"
    [details]="message.value"
  ></app-send-details>

  <app-set-like-details
    *ngSwitchCase="messageType.CommunitySetLike"
    [details]="message.value"
  ></app-set-like-details>

  <app-create-post-details
    *ngSwitchCase="messageType.CommunityCreatePost"
    [details]="message.value"
  ></app-create-post-details>

  <app-delete-post-details
    *ngSwitchCase="messageType.CommunityDeletePost"
    [details]="message.value"
  ></app-delete-post-details>

  <app-follow-details
    *ngSwitchCase="messageType.CommunityFollow"
    [details]="message.value"
  ></app-follow-details>

  <app-unfollow-details
    *ngSwitchCase="messageType.CommunityUnfollow"
    [details]="message.value"
  ></app-unfollow-details>

  <app-unjail-details
    *ngSwitchCase="messageType.SlashingUnjail"
    [details]="message.value"
  ></app-unjail-details>

  <app-create-validator-details
    *ngSwitchCase="messageType.StakingCreateValidator"
    [details]="message.value"
  ></app-create-validator-details>

  <app-delegate-details
    *ngSwitchCase="messageType.StakingDelegate"
    [details]="message.value"
  ></app-delegate-details>

  <app-ibc-acknowledgement-details
    *ngSwitchCase="messageType.IbcMsgAcknowledgement"
    [details]="message.value"
  ></app-ibc-acknowledgement-details>

  <app-ibc-message-transfer-details
    *ngSwitchCase="messageType.IbcMsgTransfer"
    [details]="message.value"
  >
  </app-ibc-message-transfer-details>

  <app-ibc-update-client-details
    *ngSwitchCase="messageType.IbcMsgUpdateClient"
    [details]="message.value"
  ></app-ibc-update-client-details>

  <app-deposit-details
    *ngSwitchCase="messageType.GovDeposit"
    [details]="message.value"
  ></app-deposit-details>

  <app-undelegate-details
    *ngSwitchCase="messageType.StakingUndelegate"
    [details]="message.value"
  ></app-undelegate-details>

  <app-begin-redelegate-details
    *ngSwitchCase="messageType.StakingBeginRedelegate"
    [details]="message.value"
  ></app-begin-redelegate-details>

  <app-fund-community-pool-details
    *ngSwitchCase="messageType.DistributionFundCommunityPool"
    [details]="message.value"
  ></app-fund-community-pool-details>

  <app-vote-details
    *ngSwitchCase="messageType.GovVote"
    [details]="message.value"
  ></app-vote-details>

  <app-withdraw-delegation-reward-details
    *ngSwitchCase="messageType.DistributionWithdrawDelegatorReward"
    [details]="message.value"
  ></app-withdraw-delegation-reward-details>

  <app-withdraw-validator-commission-details
    *ngSwitchCase="messageType.DistributionWithdrawValidatorCommission"
    [details]="message.value"
  ></app-withdraw-validator-commission-details>

  <ngx-json-viewer
    *ngSwitchDefault
    [json]="message.value"
    [expanded]="false"
  ></ngx-json-viewer>
</ng-container>
