<ng-container [ngSwitch]="message.type">
  <app-ban-details
    *ngSwitchCase="messageType.OperationsBanAccount"
    [details]="message.value"
  ></app-ban-details>

  <app-mint-details
    *ngSwitchCase="messageType.OperationsMint"
    [details]="message.value"
  ></app-mint-details>

  <app-distribute-rewards-details
    *ngSwitchCase="messageType.OperationsDistributeRewards"
    [details]="message.value"
  ></app-distribute-rewards-details>

  <app-distribute-rewards-details
    *ngSwitchCase="messageType.PDVDistributeRewards"
    [details]="message.value"
  ></app-distribute-rewards-details>

  <app-reset-account-details
    *ngSwitchCase="messageType.OperationsResetAccount"
    [details]="message.value"
  ></app-reset-account-details>

  <app-set-private-details
    *ngSwitchCase="messageType.ProfileSetPrivate"
    [details]="message.value"
  ></app-set-private-details>

  <app-set-public-details
    *ngSwitchCase="messageType.ProfileSetPublic"
    [details]="message.value"
  ></app-set-public-details>

  <app-send-details
    *ngSwitchCase="messageType.CosmosSend"
    [details]="message.value"
  ></app-send-details>

  <app-set-like-details
    *ngSwitchCase="messageType.CommunitySetLike"
    [details]="message.value"
  ></app-set-like-details>

  <app-create-post-details
    *ngSwitchCase="messageType.CommunityCreatePost"
    [details]="message.value"
  ></app-create-post-details>

  <app-delete-post-details
    *ngSwitchCase="messageType.CommunityDeletePost"
    [details]="message.value"
  ></app-delete-post-details>

  <app-follow-details
    *ngSwitchCase="messageType.CommunityFollow"
    [details]="message.value"
  ></app-follow-details>

  <app-unfollow-details
    *ngSwitchCase="messageType.CommunityUnfollow"
    [details]="message.value"
  ></app-unfollow-details>

  <app-unjail-details
    *ngSwitchCase="messageType.CosmosUnjail"
    [details]="message.value"
  ></app-unjail-details>

  <app-create-validator-details
    *ngSwitchCase="messageType.CosmosCreateValidator"
    [details]="message.value"
  ></app-create-validator-details>

  <app-delegate-details
    *ngSwitchCase="messageType.CosmosDelegate"
    [details]="message.value"
  ></app-delegate-details>

  <app-deposit-details
    *ngSwitchCase="messageType.CosmosDeposit"
    [details]="message.value"
  ></app-deposit-details>

  <app-undelegate-details
    *ngSwitchCase="messageType.CosmosUndelegate"
    [details]="message.value"
  ></app-undelegate-details>

  <app-begin-redelegate-details
    *ngSwitchCase="messageType.CosmosBeginRedelegate"
    [details]="message.value"
  ></app-begin-redelegate-details>

  <app-fund-community-pool-details
    *ngSwitchCase="messageType.CosmosFundCommunityPool"
    [details]="message.value"
  ></app-fund-community-pool-details>

  <app-vote-details
    *ngSwitchCase="messageType.CosmosVote"
    [details]="message.value"
  ></app-vote-details>

  <app-withdraw-delegation-reward-details
    *ngSwitchCase="messageType.CosmosWithdrawDelegationReward"
    [details]="message.value"
  ></app-withdraw-delegation-reward-details>

  <app-withdraw-validator-commission-details
    *ngSwitchCase="messageType.CosmosWithdrawValidatorCommission"
    [details]="message.value"
  ></app-withdraw-validator-commission-details>

  <ngx-json-viewer
    *ngSwitchDefault
    [json]="message.value"
    [expanded]="false"
  ></ngx-json-viewer>
</ng-container>
