<app-info-card>
  <ng-container ngProjectAs="[card-title]">
    Transaction details
  </ng-container>

  <ng-container ngProjectAs="[card-body]" *ngIf="transactionDetails$ | async as transactionDetails; else tablesLoading;">
    <div class="transaction-details__info">
      <div class="transaction-details__hash">
        <p appTypeface="header-4">{{ transactionDetails.txhash }}</p>
      </div>

      <div class="transaction-details__detailed-info">
        <div>
          <p class="transaction-details__value" appTypeface="subheader">
            {{ transactionDetails.height }}
          </p>
          <p class="transaction-details__label" appTypeface="paragraph">
            Height
          </p>
        </div>
        <div>
          <p class="transaction-details__value" appTypeface="subheader">
            {{ transactionDetails.timestamp | date:'yyyy.MM.dd, HH:mm:ss' }}
          </p>
          <p class="transaction-details__label" appTypeface="paragraph">
            Time
          </p>
        </div>
        <div>
          <p *ngIf="transactionDetails.gas_used; else gasNotUsed" class="transaction-details__value" appTypeface="subheader">
            {{ transactionDetails.gas_used }} / {{ transactionDetails.gas_wanted }}
          </p>

          <p class="transaction-details__label" appTypeface="paragraph">
            Gas (used / wanted)
          </p>

          <ng-template #gasNotUsed>
            <p class="transaction-details__value" appTypeface="subheader">Gas not used</p>
          </ng-template>
        </div>
      </div>

      <app-transaction-message [txMessage]="transactionDetails.tx.value.msg[0]"></app-transaction-message>
    </div>
  </ng-container>
</app-info-card>

<ng-template #tablesLoading>
  <ngx-skeleton-loader
    class="transaction-details__loading"
    count="6"
    [theme]="{
      height: '40px',
      width: '100%'
    }"
  ></ngx-skeleton-loader>
</ng-template>
