<app-info-card [contentDivider]="true" [border]="(isMobile$ | async) === false">
  <ng-container ngProjectAs="[card-title]">
    <a
      class="block-details__back-link"
      app-button-back
      [routerLink]="['../']"
    ></a>
    Block details
  </ng-container>

  <ng-container
    ngProjectAs="[card-body]"
    *ngIf="blockDetails$ | async as blockDetails; else tablesLoading;"
  >
    <div
      class="block-details__hash"
      [appTypeface]="(isTablet$ | async) ? 'subheader' : 'header-4'"
    >
      {{ blockDetails.block_id.hash }}
    </div>

    <div class="block-details__divider"></div>

    <app-details-table class="block-details__details-table">
      <ng-template [appDetailsTableCellDef]="'Height'">
        {{ blockDetails.block.header.height }}
      </ng-template>

      <ng-template [appDetailsTableCellDef]="'Time'">
        {{ blockDetails.block.header.time | date:'yyyy.MM.dd, h:mm:ss' }}
      </ng-template>
    </app-details-table>

    <ng-container *ngIf="blockTxs$ | async as blockTxs">
      <ng-template [ngIf]="blockTxs.length > 0">
        <div class="block-details__divider mod-wide"></div>

        <div class="block-details__transactions-table__title">
          <span appTypeface="subheader">Transactions</span>

          <span
            class="block-details__transactions-count"
            appTypeface="paragraph"
          >
            <span class="block-details__transactions-count__value">{{ blockTxs.length }}</span>
          </span>
        </div>

        <app-transactions-table
          class="block-details__transactions-table"
          [data]="blockTxs"
        ></app-transactions-table>
      </ng-template>
    </ng-container>
  </ng-container>
</app-info-card>

<ng-template #tablesLoading>
  <ngx-skeleton-loader
    class="block-details__loading"
    count="6"
    [theme]="{
      height: '40px',
      width: '100%'
    }"
  ></ngx-skeleton-loader>
</ng-template>
