@import 'variables';

:host {
  display: block;
}

.block-details__back-link {
  margin-right: $grid-step * 2;
}

.block-details__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.block-details__pagination {
  align-items: center;
  display: inline-flex;
  gap: 2px;
  margin-left: $grid-step * 2;
}

.block-details__pagination-item {
  color: $color-grey;
  display: inline-flex;
  background-color: $color-background;
  padding: $grid-step;

  &.is-disabled {
    color: $color-outlines;
    pointer-events: none;
  }

  &.mod-previous {
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  &.mod-next {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.block-details__loading {
  width: 100%;
}

.block-details__hash {
  margin-bottom: $grid-step * 3;
  word-break: break-word;
}

.block-details__page-link {
  display: block;
  margin-top: $grid-step;
}

.block-details__divider {
  background-color: $color-outlines;
  height: 2px;

  &.mod-wide {
    height: 8px;
    margin: $grid-step * 2 (-$grid-step * 2);
  }
}

.block-details__details-table {
  margin-top: $grid-step * 2;
}

.block-details__transactions-table__title {
  align-items: center;
  display: inline-flex;
}

.block-details__transactions-count {
  background-color: $color-outlines;
  border-radius: $border-radius;
  color: $color-grey;
  display: inline-flex;
  margin-left: $grid-step;
  padding: $grid-step / 2;
}

.block-details__transactions-count__value {
  line-height: 100%;
  min-width: 1em;
  text-align: center;
}

.block-details__transactions-table {
  margin: 0 (-$grid-step * 2);
}
