<app-info-card [contentDivider]="true" [removeBorderBreakpoint]="breakpoint.Mobile">
  <ng-container ngProjectAs="[card-title]">
    <a
      class="validator-details__back-link"
      app-button-back
      [routerLink]="['../']"
    ></a>
    Validator details
  </ng-container>

  <ng-container ngProjectAs="[card-body]" *ngIf="validatorDetails$ | async as validatorDetails; else tablesLoading;">
    <div class="validator-details__description">
      <div class="validator-details__description__title">
        <span
          class="validator-details__moniker"
          [appTypeface]="(isTablet$ | async) ? 'subheader' : 'header-4'"
        >
          {{ validatorDetails.description.moniker }}
        </span>

        <app-validator-status
          [status]="validatorDetails.status"
          [filled]="true"
          [shrinkBreakpoint]="undefined"
        ></app-validator-status>
      </div>

      <div
        class="validator-details__description__details"
        *ngIf="validatorDetails.description.details as details"
        appTypeface="paragraph"
      >
        {{ details }}
      </div>
    </div>

    <div class="validator-details__divider"></div>

    <app-details-table class="validator-details__address">
      <ng-template [appDetailsTableCellDef]="'Operator address'">
        {{ validatorDetails.operator_address }}
      </ng-template>
    </app-details-table>

    <div class="validator-details__divider"></div>

    <app-details-table class="validator-details__details-table">
      <ng-template [appDetailsTableCellDef]="'Website'">
        {{ validatorDetails.description.website || '-' }}
      </ng-template>

      <ng-template [appDetailsTableCellDef]="'Commission'">
        {{ validatorDetails.commission.commission_rates.rate | percent }}
      </ng-template>
    </app-details-table>
  </ng-container>
</app-info-card>

<ng-template #tablesLoading>
  <ngx-skeleton-loader
    class="validator-details__loading"
    count="6"
    [theme]="{
      height: '40px',
      width: '100%'
    }"
  ></ngx-skeleton-loader>
</ng-template>
