@import 'variables';

:host {
  border: 2px solid $color-outlines;
  border-radius: $border-radius;
  padding: $grid-step * 2;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.info-card__value {
  display: flex;
  justify-content: space-between;
}
