@import 'variables';

:host {
  border: 2px solid $color-outlines;
  border-radius: $border-radius;
  display: block;
  padding: $grid-step * 2;
}

.info-card__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info-card__title {
  font-weight: 500;
}
